*
{
	margin: 0;
	padding: 0;
}
body
{
	background: #9999ff;
	font-size: 14px;
}
.mycontactstyle
{
	width: 80%;
	margin: 50px auto;
}
.contact-box
{
	background: #fff;
	display: flex;
}
.contact-left
{
	flex-basis: 60%;
	padding: 40px 60px;
}
.contact-right
{
	flex-basis: 40%;
	padding: 40px;
	background: #e76060;
	color: #fff;
}
h1
{
	margin-bottom: 10px;
}
.mycontact p
{
	margin-bottom: 14px;
}
.input-row
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.input-group
{
	flex-basis: 45%;
}

input
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
textarea
{
	width: 100%;
	border: 1 px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}
label
{
	margin-bottom: 6px;
	display: block;
	color: #1cOOb5;
}
.mybutton
{
	background: #1cOOb5;
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 30px;
	margin-top: 20px;
    outline: none;
    color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0,3) ;
}
.contact-left h3
{
	color: #1cOOb5;
	font-weight: 600;
	margin-bottom: 30px;
}
.contact-right h3
{
	font-weight:600;
	margin-bottom: 30px;
}
tr td:first-child
{
	padding-right: 20px;
}
tr td
{
	padding-top:20px;
}
